* {
  font-family: "Lucida Grande";
  box-sizing: border-box;
}

a {
  text-decoration: none;
  padding: 3px;
}

body {}


.fill {
  background-color: #ffffff;
  border: 1px solid #000000;
  display: flex;
}

.void {
  background-color: #000000;
  border: 0.5px solid #ffff;
  display: flex;
}

.nomor {
  font-size: 10px;
  font-weight: bold;
  margin-top: -1px;
  margin-left: 2px;
}

.huruf {
  margin-top: 5px;
  width: 100%;
  text-align: center;
  color: white;
}

.row-bawah {
  border-top: 1px solid grey;
  padding-top: 5px;
  display: flex;
  flex-wrap: wrap;
}